.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  color: white;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 5%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  font-size: 15px;
}

h1 {
  font-size: 25px;
  padding-top: 25%;
}

.boton {
  font-family: Alata;
  text-transform: uppercase;
  outline: 0;
  background: #333333;
  border: 0;
  padding: 10px;
  margin: 20px;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
}

.boton:hover,
.boton:active,
.boton:focus {
  background: rgba(255, 254, 254, 0.17);
  color: #ffffff;
  box-shadow: 5px 5px 20px rgba(59, 59, 59, 0.4);
  transform: translateY(-10%);
}

.boton {
  display: inline;
  width: 140px;
}

.sinlinea:hover,
.sinlinea:active,
.sinlinea:focus {
  list-style: none;
  text-decoration: none;
}

@media screen and (min-width:768px) and (max-width:1096px) {
  .boton {
    font-size: 20px;
  }
  .navbar {
    display: flex;
    justify-content: column;
  }
  h1 {
    font-size: 20px;
    padding-top: 25%;
  }
}

@media screen and (min-width:390px) and (max-width:767px) {
  .boton {
    font-size: 14px;
  }
  .navbar {
    text-align: center;
  }
  h1 {
    font-size: 12px;
    padding-top: 2%;
  }
  .logo {
    width: 10%;
  }

}