.navbar{
  display:flex;
  justify-content: space-between;
  background-color: #333333;
  color: white;
}
.logo{
  display:flex;
  justify-content: space-between;
  width: 5%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  font-size: 15px;

}
h1{
  font-size: 25px;
  padding-top: 25%;
}
.boton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  #333333;
  width: 20%;
  border: 0;
  padding: 10px;
  margin: 20px;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;  list-style: none;
  text-decoration: none;

}
.boton:hover, .boton:active, .boton:focus {
  background: rgba(255, 254, 254, 0.17);
  color: #ffffff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-10%);
  
}
.boton {
  margin: 20px;
  display:inline ;
  width: 140px;
}

.sinlinea:hover, .sinlinea:active, .sinlinea:focus{
  list-style: none;
  text-decoration: none;
}