.imgDeco {
    width: 12%;
    height: 12%;
    padding-top: 13%;
}

.fondos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    width: 100%;
    height: 100%;

}

.fondoimg {
    width: 580px;
    height: 800px;
    background-image: url("../images/taza1.jpg");

}

.fondoimg2 {
    width: 580px;
    height: 800px;
    background-image: url("../images/taza2.jpg");
}

.td-eu {
    display: flex;
}

.td-col {
    width: 60%;
    height: 500px;
}

.td-col-1 {
    display: flex;
    background-color: #9390E0;
    width: 80%;
    height: 300px;
}

.td-img {
    margin-top: 10%;
    margin-left: 10%;
    width: 35%;
}

.td-title {
    padding-top: 10%;
    color: #eb5338;
    font-size: 70px;
    font-family: Lilita One;
    font-weight: 400;
    text-align: center;
    text-shadow: 5px 5px 3px rgba(66, 66, 66, 0.281);
    margin-bottom: 10%;
}

.td-desc {
    font-family: Life Savers;
    font-size: 20px;
}

.td-right {
    text-align: center;
    width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .imgDeco {
        width: 12%;
        height: 12%;
        padding-top: 30%;
    }
    
    .fondoimg {
        width:50%;
        height: 600px;
    }
    
    .fondoimg2 {
        width:50%;
        height: 600px;
    }
    .td-col-1 {
        width: 80%;
        height: 200px;
    }
    .td-img {
        margin-top: 20%;
        margin-left: 7%;
        width: 40%;
    }
    .td-title {
        padding-top: 10%;
        font-size: 50px;
        margin-bottom: 10%;
    }
    .td-desc {
        font-size: 20px;
    }
    .td-col {
        width: 60%;
        height: 305px;
    }
  }

  @media screen and (min-width: 390px) and (max-width: 767px){
    .imgDeco {
        width: 20%;
        padding-top: 30%;
    }
    
    .fondoimg {
        width:50%;
        height: 400px;
    }
    
    .fondoimg2 {
        width:50%;
        height: 400px;
    }
    .td-col-1 {
        width: 80%;
        height: 100px;
    }
    .td-img {
        margin-top: 10%;
        width: 50%;
    }
    .td-title {
        padding-top: 10%;
        font-size: 24px;
        margin-bottom: 10%;
    }
    .td-desc {
        font-size: 11px;
        text-align: justify;
        margin-right: 11px;
    }
    .td-col {
        width: 60%;
        height: 200px;
    }
  }